@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:ital,wght@0,700;1,400&family=Staatliches&display=swap');

:root { 
--sillyFont: 'Josefin Sans', sans-serif;
--seriousFont: 'Staatliches', cursive;
--responseFont: 'Indie Flower', cursive;
--green: rgb(55, 150, 52);
--darkBlue: rgb(0, 27, 46);
--tan: rgb(185, 163, 148);
--lightBlue: rgb(57, 160, 237);
}

*{ margin:0; padding:0;list-style: none;

}
body{position: relative;height: 100vh;}
main{
    position: relative;
    height: 10vh;
    width: 60%;
    margin: 0 auto}

.nav, #playCard, #playCard section, .choices ul, .hideCard{
    display: flex;
   }
.nav{
 font-family: var(--responseFont);
 justify-content: space-between;
 height: 10vh;
 margin-bottom: 10vh;
 background-color: var(--darkBlue);
}
.nav a, #cdTimer {
    font-size:30px; 
    font-weight: bolder;}
.nav > div{margin: 2vh 6%;}
.nav a{text-decoration: none;color: var(--green);
}
#cdTimer{
color: var(--tan);
} 


#playCard{
    background-color: var(--darkBlue); 
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 64px;
    
}
.questions h2, .hideCard h2{
color: var(--tan);
font-size: 4rem;
}
.hideCard{
    background-color: var(--lightBlue);
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 64px;
    position: absolute;
    top: 0;
    width: 100%;
    font-family: var(--seriousFont);
    color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: 7px 4px 2px var(--darkBlue);
}

.questions, .choices{
    justify-content: center;
}
.questions{
    flex: .75;
    margin-top: 2vh;
}
.choices{
color:var(--green);
font-size: 2rem;
flex: 3;
}
.choices ul{
    flex-direction: column;
    justify-content: space-evenly;
}
.hideCard h2{
    color:rgb(255, 255, 255);
}
.hideCard p{
    font-size: 2rem;
    text-align: center; 
}
.startBtn{
    font-size: 2rem;
    padding: 6px;
    border-radius: 10px;
    box-shadow: 7px 4px 2px var(--darkBlue);
    cursor: pointer;
}
#opt1, #opt2, #opt3, #opt4 {
    cursor: pointer;
 }

#opt2 {
    
}
#opt3 {
    
}
#opt4 {
    
}
.response{color: var(--lightBlue);}
footer, aside{background-color: var(--darkBlue);position: absolute;}
.leftSide, .rightSide{bottom: 10vh;
    height: 40vh;
    width: 5%;
    box-shadow: 7px 4px 2px black;
border-radius: 54px 2px 0;}
.rightSide{right:0;border-radius: 2px 54px 0 0;}
footer{height: 10vh;
    bottom: 0;
    left: 0;
    width: 100%;}